@(textGroups: List[TextGroup])
@main("addText") {

    @navbar("addText")

    <div class="container main-content">
        <h2 class="text-center">Add text for reading</h2>
        <form class="@routes.TextList.add" method="post">
            <div class="form-group">
                <label for="title">Title of text</label>
                <textarea name="Title" id="title" required="" class="form-control"></textarea>
                <label for="inp-text">ReadingText</label>
                <textarea type="textarea" class="form-control" id="inp-text"
                name="Text" required="">
                </textarea>
                <label for="inp-textGroup">Group</label>
                <select name="textGroup" class="form-control" id="textGroup">
                @for(textGroup <- textGroups) {
                    <option value="@textGroup.id">@textGroup.name</option>
                }
                </select>
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>

    </div>
}