@(text: Text, textGroups: List[TextGroup])

@main("EditReadingText") {

    @navbar("editform")

    <div class="container main-content">
        <h2 class="text-center">Edit text for reading</h2>
        <form class="@routes.TextList.update(text.id.get)" method="post">
            <div class="form-group">
                <label for="title">Title of text</label>
                <input name="RTitle" id="title" value="@text.title" required="" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="inp-text">ReadingText</label>
                <textarea type="textarea" class="form-control" id="inp-text"
                name="RText" required="">@text.text</textarea>
            </div>
            <div class="form-group">
                <label for="inp-textgroup">TextGroup</label>
                <select name="textGroup" class="form-control" id="inp-textgroup">
                @for(textGroup <- textGroups) {
                    <option value="@textGroup.id">@textGroup.name</option>
                }
                </select>
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
}