@(title: String = "title")(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/css/bootstrap.min.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/icon.png")">
        <link href="@routes.Assets.at("stylesheets/css/bootstrap.min.css")" rel="stylesheet">
        @*<link href="@routes.Assets.at("stylesheets/css/font-awesome.min.css")" rel="stylesheet">*@
        <link href="@routes.Assets.at("stylesheets/css/animate.min.css")" rel="stylesheet">
        @*<link href="@routes.Assets.at("stylesheets/css/prettyPhoto.css")" rel="stylesheet">*@
        <link href="@routes.Assets.at("stylesheets/css/main.css")" rel="stylesheet">
        @*<link href="@routes.Assets.at("stylesheets/css/responsive.css")" rel="stylesheet">*@
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/../stylesheets/js/bootstrap.min.js")" type="text/javascript"></script>
    </head>
    <body>
         @content
    </body>
</html>
