@(textGroups: List[TextGroup])

@main("TextGroupList") {

  @navbar("textgrouplist")

  <div class="container main-content">

    <h1 class="text-center">Group of texts</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
      @for(textgroup<- textGroups) {
        <tr>
          <td>@textgroup.name</td>
          <td>
            <a href="@routes.TextGroups.showEditForm(textgroup.id.get)">
              <button class="btn btn-warning">Edit</button>
            </a>
            <a href="@routes.TextGroups.remove(textgroup.id.get)">
              <button class="btn btn-danger">Delete</button>
            </a>
          </td>
        </tr>
      }
      </tbody>
    </table>
  </div>

}
